:root {
    --white: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%, 63%);
    --dark-gray: hsl(0, 0%, 27%);
    --black: hsl(0, 0%, 0%);
}

$firstImageWidth: 70vw;

.home {
    width: 100vw;
    height: 100vh;

    font-size: 12px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;

    @media screen and (min-width:1440px) {
        font-size: 16px;
    }

    .img1 {
        height: 200px;
        background-color: rgb(161, 161, 161);
    }

    p {

        margin-top: 1em;
        color: var(--gray);
        font-size: 1em;
        line-height: 1.25em;
    }


}